@using System.Collections.Generic
@using MVC.Models


@model MVC.Areas.ModulStudentskaSluzba.Data.StudentUrediViewModel

@*Kako radimo sa objektom "student" iz modela, akcija "Snimi" ce ocekivat bas taj objekat.*@
<form action="/ModulStudentskaSluzba/Student/Snimi">

    @Html.HiddenFor(model => model.Id)
    @*<input type="hidden" value="student.Id" name="studentId" />*@

    <div class="form-group">
        <label>Ime</label>
        @Html.TextBoxFor(model => model.Ime, new { @class = "form-control" })
        @*<input type="text" name="ime" value="@student.Korisnik.Ime" class="form-control" />*@
    </div>
    <div class="form-group">
        <label>Prezime</label>
        @Html.TextBoxFor(model => model.Prezime, new { @class = "form-control" })
        @*<input type="text" name="prezime" value="@student.Korisnik.Prezime" class="form-control" />*@
    </div>
    <div class="form-group">
        <label>Broj indexa</label>
        @Html.TextBoxFor(model => model.BrojIndexa, new { @class = "form-control" })
        @*<input type="text" name="brojIndexa" value="@student.BrojIndexa" class="form-control" />*@
    </div>
    <div class="form-group">
        <label>Username</label>
        @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
        @*<input type="text" name="username" value="@student.Korisnik.Username" class="form-control" />*@
    </div>
    <div class="form-group">
        <label>Password</label>
        @Html.TextBoxFor(model => model.Password, new { @class = "form-control" })
        @*<input type="password" name="password" value="@student.Korisnik.Password" class="form-control" />*@
    </div>
    <div class="form-group">
        <label>Datum rodjenja</label>
        @Html.TextBoxFor(model => model.DatumRodjenja, new { @class = "form-control" })
        @*<input type="datetime" name="datumRodjenja" value="@student.Korisnik.DatumRodjenja" class="form-control" />*@
    </div>
    <div class="form-group">
        <label>Smjer</label>
        @Html.DropDownListFor(model => model.SmjerId, Model.smjeroviStavke, new { @class = "form-control" })

        @*<select name="smjerId" class="form-control">
                @foreach (var item in smjerovi)
                {
                    <option value="@item.Id" @(item.Id == student.SmjerId ? "selected" : "")>@item.Naziv</option>
                }
            </select>*@
    </div>

    <input type="submit" value="Snimi" class="btn btn-default" />

</form>

